body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
}




.hero {
    max-width:900px;
    text-align: center;
    justify-content: center;
    padding: 50px 20px;
    background: linear-gradient(90deg, #E8E0D7, #D2C1AE);
    background-image: url(../upload/Le\ carnet.png);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
min-height: 570px;
    color: rgb(54, 52, 52);
    animation: fadeIn 2s ease-in-out;
    margin: 20px auto;
    border-radius: 10px;
    justify-content: center; 
    display: flex;
    flex-direction: column;
}

.hero h2 {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; /* Centre horizontalement */
    justify-content: center; /* Centre verticalement */
    height: 100%; /* Nécessaire pour définir la hauteur à centrer */
    text-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
}


.hero .opening-hours {
    font-style: italic;
    margin-top: 20px;
}

.features {
    text-align: center;
    padding: 50px 20px;
    background: white;
    border-radius: 10px ;
}

.features h2 {
    margin-bottom: 20px;
    font-size: 2rem;
   
}

.features .cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.features .card {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: transform 0.3s ease;
}

.features .card:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 20px;
    background: #343a40;
    color: white;
    margin-top: 50px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
